/* you can add to or change this. */

body{
  background-color: lightgray;
}

body h1{
  padding-top:20px;
  text-align: center;
  font-family: 'Georama', sans-serif;
}

#game{
  padding-top:10px;
  align-items:center;
}

.subHead{
  text-align:center;
  font-size:large;
  font-family: 'Georama', sans-serif;
  padding-top:10px;
}

#game div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color:blue;
}

.orange{
  background-color:orange;
}

.purple{
  background-color:purple;
}

.noColor{
  background-color:white;
}